:root{
    --bgColor: rgba(246, 250, 224, 0.9);
}

body, html{
    height: 100%;
    margin: 0px;
}

h1, h4, p,a, li {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    position: relative;
    display: flex;
    justify-content: center;
}

nav{
    background-color: var(--bgColor);
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    min-height: 3em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 10px;
}

nav img{
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    margin-right: 10px;
}

nav a{
    color: black;
    text-decoration: none;
    margin-left: 15px;
}

nav a:hover{
    text-decoration: underline;
}

.container{
    position: fixed;
    z-index: -1;
    filter: sepia(0.9);
}

#video{
    min-width: 100%;
    min-height: 100%;
}

.main{
    margin-top: 20%;
    background-color: var(--bgColor);
    height: max-content;
    width: 60%;
    padding: 20px;
}

.main p, .main ul, .main a{
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
}

.main h1{
    text-align: center;
    margin-top: 30px;
}